{% extends 'layout.html' %}
{% set active_page = "users" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/users/users.css') }}">
{% endblock %}
{% block liks %}
<script src="https://kit.fontawesome.com/e480f6dd1b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}
<title>Usuarios</title>
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}
{% block content %}



<table class="tabla">
    <caption>
        <div class="div-titulo-buscar">
            <h1 class="nom-pagina">Lista de usuarios:</h1>
            <div class="div-buscar">
                <form class="buscar" action="{{ url_for('users.filtrar')}}" method="POST">
                    <select class="select-estado" name="estado">
                        <option value="all">Estado</option>
                        <option value="activo">activos</option>
                        <option value="bloqueado">bloqueados</option>
                    </select>
                    <input type="email" class="buscar_email" name="email" placeholder="Ingrese el email"
                        autocomplete="off">
                    <button title="filtrar" class="boton-filtrar" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>

    </caption>
    <thead>
        <tr>
            <th class="user-email">Email</th>
            <th class="user-username">Usuario</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th class="user-estate">Estado</th>
            <th>Detalle</th>
            <th>Bloquear</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% if users.items %}
        {% for user in users.items %}
        <tr>
            <td class="user-email">{{ user.email }}</td>
            <td class="user-username">{{ user.userName }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            {% if user.active==True %}
            <td class="user-estate">Activo</td>
            {% else %}
            <td class="user-estate">Bloqueado</td>
            {% endif %}
            <td><a class="btn btn-detalle"
                    href="{{ url_for('users.user_detail', user_id=user.id, current_page=users.page) }}">Detalle</a>
            </td>
            <td>{% if user.active==True %}<a class="btn btn-bloquear"
                    href="{{ url_for('users.toggle_blocked', user_id=user.id, pag_actual=users.page) }}"> Bloquear </a>
                {% else %} <a class="btn btn-desbloquear"
                    href="{{ url_for('users.toggle_blocked', user_id=user.id, pag_actual=users.page) }}">Desbloquear</a>
                {% endif %}
            </td>
            <td><a class="btn btn-eliminar"
                    href="{{ url_for('users.delete_user_by_id', user_id=user.id, current_page=users.page) }}"
                    onclick="return confirm('¿Quiere eliminar a {{user.email}}?')">Eliminar</a>
            </td>

        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>No hay Usuarios</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<div class="paginacion">
    <ul>
        {% for page_num in users.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}

        {% if page_num %}
        {% if page_num==users.page %}
        <li>
            <a class="active">{{ page_num }}</a>
        </li>
        {% else %}
        <li>
            <a {% if filterState %} href="{{ url_for('users.paginaFiltroEstado',state=state, num=page_num) }}" {% else
                %} href="{{ url_for('users.user_index', num=page_num) }}" {% endif %}>{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li>
            <a class="threePoints">...</a>
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</div>
<div class="div-btn">
    <a id="boton-agregar-usuario" href="{{ url_for('users.new_user', current_page=users.page) }}">Agregar usuario</a>
</div>

{% endblock %}