{% extends 'layout.html' %}
{% set active_page = "associates" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/associates/edit_associated.css') }}">
{% endblock %}
{% block title %}
<title>Generar Carnet</title>
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}
{% block content %}

<div>
    <h2>Crear carnet de asociado </h2>
    <form id="for-box"
        action="{{ url_for('associates.create_credential', associated_id = associated.id, current_page = return_page)}}"
        method="POST" enctype="multipart/form-data" autocomplete="off">
        <label class="labelNombre">Imagen:</label>
        <input type="file", name="archivo", required accept=".png, .jpg, .jpeg">
        <input class="botonAgregar" type="submit" value="Crear carnet">
        <a class="botonCancelar"
            href="{{ url_for('associates.associated_index_page', num = return_page) }}">Cancelar</a>
    </form>
</div>
{% endblock %}