{% extends 'layout.html' %}
{% set active_page = "sports" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/sports/new_sport.css') }}">
{% endblock %}
{% block title %}
<title>Editar disciplina</title>
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}
{% block content %}

<div class="div-form">
    <h2>Actualizar Disciplina</h2>
    <form id="for-box" action="{{ url_for('sports.update_sport', sport_id=sport.id, current_page=return_page)}}"
        method="post">
        <label class="labelNombre">Nombre:</label>
        <input class="inputNombre" maxlength="50" type="text" id="sportName" name="sportName" placeholder="Ingrese el nombre" {% if
            sport %} value="{{ sport.name }}" maxlength="50" {% endif %} autocomplete="off" required>
        <label class="labelDivision">Division:</label>
        <input class="inputDivision" maxlength="50" type="text" id="division" name="division" placeholder="Ingrese la división" {% if
            sport %} value="{{ sport.division }}" maxlength="50" {% endif %} autocomplete="off" required>
        <label class="labelInstructores">Instructores:</label>
        <input class="inputInstructores" maxlength="300" type="text" id="instructors" name="instructors"
            placeholder="Ingrese los instructores" maxlength="50" {% if sport %} value="{{ sport.instructors_names }}" {% endif %}
            required>
        <label class="labelHorarios">Horarios:</label>
        <input class="inputHorarios" maxlength="300" type="text" id="schedule" name="schedule" placeholder="Ingrese el horario" {% if
            sport %} value="{{ sport.schedule }}" maxlength="50" {% endif %} required>
        <label class="labelCuota">Cuota:</label>
        <input class="inputCuota" maxlength="10" type="text" id="fee" name="fee" placeholder="Ingrese el valor de la cuota" {% if sport
            %} value="{{ sport.monthly_fee }}" {% endif %} required>
        <input class="botonAgregar" type="submit" value="Actualizar disciplina">
        <a class="botonCancelar" href="{{ url_for('sports.sport_index_page', num=return_page) }}">Volver</a>
    </form>
</div>

{% endblock %}
