@import "../new.css";

#for-box {
    border: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 10px black;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);

    grid-template-areas: "labelNombre labelDivision"
        "inputNombre inputDivision"
        "labelInstructores labelHorarios"
        "inputInstructores inputHorarios"
        "labelCuota labelHabilitado"
        "inputCuota checkboxHabilitado"
        "botonCancelar botonAgregar";
}

.labelNombre {
    grid-area: labelNombre;
}

.inputNombre {
    grid-area: inputNombre;
}

.labelDivision {
    grid-area: labelDivision;
}

.inputDivision {
    grid-area: inputDivision;
}

.labelInstructores {
    grid-area: labelInstructores;
}

.inputInstructores {
    grid-area: inputInstructores;
}

.labelHorarios {
    grid-area: labelHorarios;
}

.inputHorarios {
    grid-area: inputHorarios;
}

.labelCuota {
    grid-area: labelCuota;
}

.inputCuota {
    grid-area: inputCuota;
}

.labelHabilitado {
    grid-area: labelHabilitado;
}

.checkboxHabilitado {
    grid-area: checkboxHabilitado;
}

.botonAgregar {
    grid-area: botonAgregar;
}

.botonCancelar {
    grid-area: botonCancelar;
}

#for-box input[type="checkbox"] {
    height: 30px;
}


@media screen and (max-width: 812px) {
    #for-box {
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, auto);

        grid-template-areas: "labelNombre"
            "inputNombre"
            "labelDivision"
            "inputDivision"
            "labelInstructores"
            "inputInstructores"
            "labelHorarios"
            "inputHorarios"
            "labelCuota"
            "inputCuota"
            "labelHabilitado"
            "checkboxHabilitado"
            "botonAgregar"
            "botonCancelar";
        width: 100%;
    }

    #for-box input {
        margin-bottom: 5px;
    }

    #for-box input[type="checkbox"] {
        height: 20px;
    }


}